@using myEcomerce.Views.Shared;
@using System.Globalization;
@model _CartProductPartial;


<div class="container border-bottom">
    <div class="row">
        <div class="col-md-6 col-xl-5 px-0">
            <img class="product-img-md" src="@Model.photo">

        </div>
        <div class="col-md-6 px-0">
            <p class="m-0">@Model.name</p>
            <p class="m-0"><span>Price: USD$</span>@Model.price<span>.000</span></p>
            <p class="m-0">Quantity: @Model.items</p>
        </div>
    </div>
    <div class="py-2">
        <form>
            <input type="hidden" value="@Model.detail_id" name="detail_id">
            <button class="link-button border-right pl-0" formaction="/order/deletefromcart" formmethod="post">Delete</button>
            @if (Model.type == "cart")
            {
                <button formaction="/order/saveforlater" formmethod="post" class="link-button">Save for Later</button>
            }
            else
            {
                <button formaction="/order/MoveToCart" formmethod="post" class="link-button">Move to Cart</button>
            }
            <a class="border-left pl-2" href="@("/product/"+Model.product_id)">View Details</a>
        </form>
    </div>
</div>

