@{
    ViewData["Title"] = "Address_book";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Address[] addresses = ViewData["addresses"] as Address[];
    Address default_address = ViewData["default"] as Address;
    OneLineFormcontrol fullname = new OneLineFormcontrol()
    {
        label = "Full Name",
        icon = "fa fa-user",
        name = "fullname"
    };
    OneLineFormcontrol line1 = new OneLineFormcontrol()
    {
        label = "Address Line1",
        icon = "fa fa-map-marker",
        name = "line1"
    };
    OneLineFormcontrol line2 = new OneLineFormcontrol()
    {
        label = "Address Line2",
        icon = "fa fa-map-marker",
        name = "line2"
    };
    OneLineFormcontrol city = new OneLineFormcontrol()
    {
        label = "City",
        icon = "fa fa-map-marker",
        name = "city"
    };
    OneLineFormcontrol state = new OneLineFormcontrol()
    {
        label = "State/Region",
        icon = "fa fa-map-marker",
        name = "state"
    };
    OneLineFormcontrol zipcode = new OneLineFormcontrol()
    {
        label = "Zip Code",
        icon = "fa fa-map-marker",
        name = "zipcode"
    };
    OneLineFormcontrol phonenumber = new OneLineFormcontrol()
    {
        label = "Phone Number",
        icon = "fa fa-phone",
        name = "phonenumber"
    };

    bool isEdit = !Context.Request.Path.ToString().Contains("select");
}

<div class="px-3">
    <div class="row">
        <div class="col-md-2 pl-0">
            <partial name="_navigator">
        </div>
        <div class="col-md-10">
            <h3>My Shipping Addresses</h3>
            <hr class="border border-info bg-info" />
            <div class="pb-2 text-right">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#newAddressModel">
                    <strong>+</strong>Enter a new address
                </button>
                <div class="modal fade" id="newAddressModel">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <form method="post" action="/user/AddAddress">
                                <div class="modal-header">
                                    <h5 class="modal-title">New Address</h5>
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span>&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    @await Html.PartialAsync("_OneLineFormcontrol", fullname)
                                    @await Html.PartialAsync("_OneLineFormcontrol", line1)
                                    @await Html.PartialAsync("_OneLineFormcontrol", line2)
                                    @await Html.PartialAsync("_OneLineFormcontrol", city)
                                    @await Html.PartialAsync("_OneLineFormcontrol", state)
                                    <div class="form-group">
                                        <div class="input-group input-group-sm">
                                            <div class="col-md-4">
                                                <label for="user_firstname">Country:</label>
                                            </div>
                                            <input type="text" class="form-control border border-secondary ml-2" name="country">
                                        </div>
                                    </div>
                                    @await Html.PartialAsync("_OneLineFormcontrol", zipcode)
                                    @await Html.PartialAsync("_OneLineFormcontrol", phonenumber)

                                </div>
                                <input type="hidden" value="@Context.Request.Path.ToString()" name="source_path">
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container px-0">
                <div class="row">
                    @foreach (Address address in addresses)
                    {
                        fullname.value = address.fullname;
                        line1.value = address.line1;
                        line2.value = address.line2;
                        city.value = address.city;
                        state.value = address.state;
                        zipcode.value = address.zipcode;
                        phonenumber.value = address.phone;
                        <div class="col-md-4 mb-2">
                            <div class="card border-info">
                                <div class="card-header bg-info text-white">@address.fullname</div>
                                <div class="p-3">
                                    <div><span>@address.line1</span>, <span>@address.line2</span></div>
                                    <div>
                                        <span>@address.city</span>
                                        <span class="pl-1">@address.state</span>
                                        <span>@address.zipcode</span>
                                    </div>
                                    <div>@address.country</div>
                                    <hr class="bg-light">
                                    <div>
                                        <i class="fas fa-phone-square"></i> 
                                        @address.phone
                                    </div>
                                </div>
                                <div class="card-footer text-center pb-0">
                                    <form>
                                        <input type="hidden" value="@address.id" name="address_id">
                                        <input type="hidden" value="@Context.Request.Path.ToString()" name="source_path">
                                        <button type="submit" class="btn btn-sm btn-danger mb-2" formmethod="post" formaction="/user/deleteAddress">
                                            <i class="fas fa-trash-alt"></i>
                                            Delete
                                        </button>
                                        <button type="button" class="btn btn-sm btn-info  mb-2" data-toggle="modal" data-target="#editAddressModel-@address.id">
                                            <i class="far fa-edit"></i>
                                            Edit
                                        </button>
                                        @if (address.isDefault == "true")
                                        {
                                        <button type="button" class="btn btn-sm btn-dark  mb-2">
                                            <i class="fas fa-check"></i>
                                            Default
                                        </button>
                                        }
                                        else if (address.isDefault == "false" && isEdit)
                                        {
                                            <button type="submit" class="btn btn-sm btn-light border border-dark mb-2" formaction="/user/setdefault" formmethod="post">
                                                <i class="fas fa-check-circle"></i>
                                                Set Default
                                            </button>
                                        }
                                        else
                                        {
                                            <button type="submit" class="btn btn-sm btn-danger  mb-2" formaction="/order/review" formmethod="post">Use This Address</button>
                                        }
                                    </form>
                                    <div class="modal fade" id="editAddressModel-@address.id">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <form method="post" action="/user/updateAddress">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Edit Address</h5>
                                                        <button type="button" class="close" data-dismiss="modal">
                                                            <span>&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">

                                                        @await Html.PartialAsync("_OneLineFormcontrol", new OneLineFormcontrol()
                                                   {
                                                       label = "Full Name",
                                                       icon = "fa fa-user",
                                                       name = "fullname",
                                                       value=address.fullname
                                                   })
                                                        @await Html.PartialAsync("_OneLineFormcontrol", new OneLineFormcontrol()
                                                   {
                                                       label = "Address Line1",
                                                       icon = "fa fa-map-marker",
                                                       name = "line1",
                                                       value=address.line1
                                                   })
                                                        @await Html.PartialAsync("_OneLineFormcontrol", new OneLineFormcontrol()
                                                   {
                                                       label = "Address Line2",
                                                       icon = "fa fa-map-marker",
                                                       name = "line2",
                                                       value=address.line2
                                                   })
                                                        @await Html.PartialAsync("_OneLineFormcontrol", new OneLineFormcontrol()
                                                   {
                                                       label = "City",
                                                       icon = "fa fa-map-marker",
                                                       name = "city",
                                                       value = address.city
                                                   })
                                                        @await Html.PartialAsync("_OneLineFormcontrol", new OneLineFormcontrol()
                                                   {
                                                       label = "State/Region",
                                                       icon = "fa fa-map-marker",
                                                       name = "state",
                                                       value = address.state
                                                   })
                                                        <div class="form-group">
                                                            <div class="input-group input-group-sm">
                                                                <div class="col-md-4">
                                                                    <label for="user_firstname">Country:</label>
                                                                </div>
                                                                <input type="text" class="form-control border border-secondary ml-2" name="country" value="@address.country">
                                                            </div>
                                                        </div>
                                                        @await Html.PartialAsync("_OneLineFormcontrol", new OneLineFormcontrol()
                                                   {
                                                       label = "Zip Code",
                                                       icon = "fa fa-map-marker",
                                                       name = "zipcode",
                                                       value = address.zipcode
                                                   })
                                                        @await Html.PartialAsync("_OneLineFormcontrol", new OneLineFormcontrol()
                                                   {
                                                       label = "Phone Number",
                                                       icon = "fa fa-phone",
                                                       name = "phonenumber",
                                                       value=address.phone
                                                   })

                                                    </div>
                                                    <input type="hidden" value="@address.id" name="address_id">
                                                    <input type="hidden" value="@Context.Request.Path.ToString()" name="source_path">
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            @if (!isEdit && default_address != null)
            {
                <form method="post" action="/order/review">
                    <input type="hidden" name="address_id" value="@default_address.id">
                    <Button type="submit" class="btn btn-info float-right">
                        Use default address<strong>-></strong>
                    </Button>
                </form>
            }
        </div>
    </div>
</div>

