@using myEcomerce.Views.Shared;

@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var start_date = new _FormcontrolPartial
    {
        icon = "oi oi-calendar",
        input_type = "date"
    };
    string[] tabs = { "Open Orders", "Closed Orders", "Canceled Orders" };
    Order[] orders = ViewData["orders"] as Order[];
    string select = ViewData["select"] as string;
}

<div class="px-3">
    <div class="row">
        <div class="col-md-2 pl-0">
            <partial name="_navigator">
        </div>
        <div class="col-md-10">
            <h3>Your Orders</h3>
            <hr class="border border-info bg-info" />
            <div class="card bg-light pl-3 mb-3">
                <h6 class="pt-3">Order filters</h6>
                <div class="row">
                    <div class="col-md-3">
                        @await Html.PartialAsync("_FormcontrolPartial", start_date)
                    </div>
                    <div class="col-md-3">
                        @await Html.PartialAsync("_FormcontrolPartial", start_date)
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-sm btn-success">
                            <i class="fa fa-filter"></i>
                            Filter Results
                        </button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-sm btn-success">
                            <small class="oi oi-print"></small>
                            Full Reports
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <ul class="nav nav-tabs">
                    @foreach (string tab in tabs)
                    {
                        string redirect = tab.Split(" ")[0];
                        <li class="nav-item">
                            <a class="nav-link @(select==redirect?"active":"")" href="/user/orders/@redirect">@tab</a>
                        </li>
                    }
                </ul>
                <div class="p-3 bt-0 tabs-content">
                    <table class="w-100">
                        <tr>
                            <th>Order</th>
                            <th>Customer Name</th>
                            <th>Email Address</th>
                            <th>Updated On</th>
                            <th>Items</th>
                            <th>Total</th>
                        </tr>
                        <tbody>
                            @for (int i = 0; i < orders.Length; i++)
                            {
                                Order order = orders[i];
                                int total = 0;
                                if (order.status == select.ToLower())
                                {
                                    List<Order_detail> details = order.order_details;
                                    foreach (Order_detail detail in details)
                                    {
                                        total = total + detail.quantity * Int32.Parse(detail.product.price);
                                    }
                                    <tr>
                                        <td><a href="/user/orderdetail/@order.id">@((i + 1).ToString().PadLeft(4, '0'))</a></td>
                                        <td>@order.address.fullname</td>
                                        <td>@order.email</td>
                                        <td>@order.Created_at</td>
                                        <td>@order.order_details.Count()</td>
                                        <td>@total</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

